<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970819443770-dp28ng2fotiou3d5vrkb95fova4golgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970819443770-dp28ng2fotiou3d5vrkb95fova4golgo</string>
	<key>API_KEY</key>
	<string>AIzaSyDKX8A13hxLqT_Fh4vrtHI3sHsa2_x818w</string>
	<key>GCM_SENDER_ID</key>
	<string>970819443770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.journey.app.journeyApp</string>
	<key>PROJECT_ID</key>
	<string>journey-f3fd2</string>
	<key>STORAGE_BUCKET</key>
	<string>journey-f3fd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970819443770:ios:8bc6ba3ab8ce20e74b2903</string>
</dict>
</plist>